@page "/"
@using MudBlazor
@inject pagamentos_uniforme_etec.Services.PedidoService PedidoService;
@using pagamentos_uniforme_etec.Models;

<PageTitle>ETEC Uniformes</PageTitle>

<section class="page">
    <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@data" InputLabels="@labels">
        <CustomGraphics>
            <text class="donut-inner-text text-color" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="white" font-family="Helvetica" font-size="2">Restantes</text>
            <text class="donut-inner-text text-color" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white" font-family="Helvetica" font-size="5">R$@(restante)</text>
        </CustomGraphics>
    </MudChart>

    <MudTabs Elevation="2" Rounded="true" Centered="true" Class="" Color="Color.Dark">
        <MudTabPanel Icon="@Icons.Material.Filled.PeopleAlt" Text="TODOS" BadgeData="@(pedidos.Count())" BadgeColor="Color.Info">
            <section class="list-students">
            <MudItem xs="12" sm="6" md="4">
            <MudAutocomplete T="string" Label="Pesquisar Aluno" @bind-Value="@searchText" SearchFunc="@Search2"
                ResetValueOnEmptyText="@resetValueOnEmptyText"
                CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab"
                AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
            </MudItem>
                @foreach(var pedido in pedidosFiltrados){
                <div class="container">
                    <div class="perfil-icon">
                        <span class="profile-image">@GetIcon(pedido.Nome)</span>
                    </div>
                    <div class="flex-col">
                        <div class="name-status">
                            <p class="name-student">@pedido.Nome</p>
                            @if(pedido.Pago == pedido.TotalAPagar){
                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" />
                            } else {
                            <MudIcon Icon="@Icons.Material.Filled.WarningAmber" Color="Color.Error" />
                            }
                        </div>
                        <div class="name-status">
                            <div class="size-area">
                                <p class="size-selected">Tamanho:</p>
                                @foreach(var tamanho in pedido.Tamanhos){
                                <span class="size-shirt">@tamanho</span>
                                }
                            </div>
                            @if(pedido.Pago == pedido.TotalAPagar){
                                <span class="total-money">@pedido.Pago/@pedido.TotalAPagar</span>
                            } else {
                                <span class="total-money-error">@pedido.Pago/@pedido.TotalAPagar</span>
                            }
                        </div>
                    </div>
                </div>
                }

            </section>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.AttachMoney" Text="PAGOS" BadgeData="@(pedidosPagos.Count())" BadgeColor="Color.Success">
            <section class="list-students">
                @foreach(var pedido in pedidosPagos){
                    <div class="container">
                        <div class="perfil-icon">
                            <span class="profile-image">@GetIcon(pedido.Nome)</span>
                        </div>
                        <div class="flex-col">
                            <div class="name-status">
                                <p class="name-student">@pedido.Nome</p>
                                @if(pedido.Pago == pedido.TotalAPagar){
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" />
                                } else {
                                <MudIcon Icon="@Icons.Material.Filled.WarningAmber" Color="Color.Error" />
                                }
                            </div>
                            <div class="name-status">
                                <div class="size-area">
                                    <p class="size-selected">Tamanho:</p>
                                    @foreach(var tamanho in pedido.Tamanhos){
                                    <span class="size-shirt">@tamanho</span>
                                    }
                                </div>
                                @if(pedido.Pago == pedido.TotalAPagar){
                                    <span class="total-money">@pedido.Pago/@pedido.TotalAPagar</span>
                                } else {
                                    <span class="total-money-error">@pedido.Pago/@pedido.TotalAPagar</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.WarningAmber" Text="PENDENTES" BadgeData="@(pedidosPendentes.Count())" BadgeColor="Color.Error">
            <section class="list-students">
                @foreach(var pedido in pedidosPendentes){
                    <div class="container">
                        <div class="perfil-icon">
                            <span class="profile-image">@GetIcon(pedido.Nome)</span>
                        </div>
                        <div class="flex-col">
                            <div class="name-status">
                                <p class="name-student">@pedido.Nome</p>
                                @if(pedido.Pago == pedido.TotalAPagar){
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" />
                                } else {
                                <MudIcon Icon="@Icons.Material.Filled.WarningAmber" Color="Color.Error" />
                                }
                            </div>
                            <div class="name-status">
                                <div class="size-area">
                                    <p class="size-selected">Tamanho:</p>
                                    @foreach(var tamanho in pedido.Tamanhos){
                                    <span class="size-shirt">@tamanho</span>
                                    }
                                </div>
                                @if(pedido.Pago == pedido.TotalAPagar){
                                    <span class="total-money">@pedido.Pago/@pedido.TotalAPagar</span>
                                } else {
                                    <span class="total-money-error">@pedido.Pago/@pedido.TotalAPagar</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
        </MudTabPanel>
    </MudTabs>
</section>

@code {
    public List<Pedido> pedidos = new();
    public List<Pedido> pedidosPagos = new();
    public List<Pedido> pedidosPendentes = new();
    public double totalArregacado { get; set; }
    public double totalAPagar { get; set; }
    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private bool selectedOnTab;
    private string value1 = string.Empty, value2 = string.Empty;
    public string searchText { get; set; } = string.Empty;
    public double[] data { get; set; } = null!;
    public double restante { get; set; }
    public string[] labels = { "Pagos", "Restante" };
    public List<Pedido> pedidosFiltrados => 
        pedidos.Where(p => string.IsNullOrEmpty(searchText) ||
        p.Nome.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();

    protected override void OnInitialized(){
        pedidos = PedidoService.GetPedidos();

        pedidosPagos = pedidos.Where(p => p.Pago == p.TotalAPagar).ToList();

        pedidosPendentes = pedidos.Where(p => p.Pago < p.TotalAPagar).ToList();

        totalArregacado = pedidos.Sum(p => p.TotalAPagar);

        totalAPagar = pedidos.Sum(p => p.Pago);

        restante = totalArregacado - totalAPagar;

        data = new double[] { totalArregacado, restante };
    }

    public static char GetIcon(string nome){
        char firstLetter = nome[0];
        return firstLetter;
    }

    private async Task<IEnumerable<string>> Search2(string value, CancellationToken token)
{
    await Task.Delay(5, token);

    var nomesPedidos = pedidos.Select(p => p.Nome)
        .Union(pedidosPagos.Select(p => p.Nome))
        .Union(pedidosPendentes.Select(p => p.Nome))
        .Distinct();

    if (string.IsNullOrEmpty(value))
        return nomesPedidos;

    return nomesPedidos.Where(nome => nome.Contains(value, StringComparison.InvariantCultureIgnoreCase));
}

}